
.container-fluid{
   // background-image: url('https://cdn.pixabay.com/photo/2016/06/13/05/47/background-1453697__340.jpg');
   // background-color: rgb(85, 87, 248);
    background-size: cover;
    background-repeat: no-repeat;
    height:47em;
    align-content: center;
}

.card{
    height: 450px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    //background-color: rgb(173, 166, 143);
    .card-header {
        color:white;
        background-color:#d22f2d ;
    }
    .card-footer{
        //color:white;
        //background-color:#d22f2d  ;
    }
    .card-body{
        .iconEmail{
            font-weight: bold;
            font-size: 1.1em;
        }   
    }
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
cursor: pointer;
}



.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #d22f2d;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}


.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color:white;
background-color:#d22f2d;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links a{
margin-left: 4px;
}

.btn-social{
    margin-top:50px;
    .google{
        cursor: pointer;
        margin-left:10px;
    }
    .facebook{
        cursor: pointer;
        margin-left: 10px;
    }
}




// ********************************************

