@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
.navbar{
    background-color:#d22f2d;
    a{
        color:white;
    }
}
.logo_super{
    height: 40px;
    width: 40px;

}
.navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size:2em;
}

.contato{
    margin-right: 50px;
}
.info_user{
    color:white;
    .icon_user{
        border-radius: 100%;
        width: 2em;
        height: 2em;
        background-color: black;
        margin-top:5px;
        margin-right: 5px;
    }
    .bemVindo{
        font-size: 0.8em;
    }
    button{
        margin-left: 5px;
    }
    .dropdown-menu{
        .item{
            height: 40px;
            padding: 8px;
            cursor: pointer;
            &:hover{
                color: white;
                background-color:#d22f2d;
                transition-duration: 0.5s
            }
        }
    }
    
}

.login_user{
    color:rgb(250, 250, 250);
    .botao_menu{
        background-color:#d22f2d;
        color: white;
        border: 0.4px solid black;
    }
    ul{
        a{
            color: blue;
        }
        
        form{
            .login_facebook{
                img{
                    background-color:white;
                }
            }
            .login_google{
                color:black;
                background-color:rgb(196, 204, 214);
            }
        }
        .entrar {
            background-color: #d22f2d;
        }
        button{
            font-size: 15px;
            color: white;
        }
        width:  250px;
    }
}

footer{
    background-color:#d22f2d;
    a{
        color:white;
    }
}