<ngx-ui-loader></ngx-ui-loader>
  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron mt-500">
      <h1 class="display-3">Seja bem vindo</h1>
      <p class="lead">Confira já todas as nossas promoçoes e fique por dentro do que há de melhor no ramo de supermercados</p>
   
    </header>
    <div class="container text-center text_confir">
        <h5> Confira agora o que preparamoss para você! </h5>
    </div>
   
    <!-- Page Features -->
    <div class="row text-center">
      
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="img_card" (click)="inforUser()"><img class="card-img-top" src="../../assets/verduras.jpg" alt=""   ></div>
          
     
          <div class="card-body">
            <h4 class="card-title">Segunda das Frutas e verduras</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn">Confira Já</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../../assets/carnes.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Terça da Carne</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn">Confira Já</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../../assets/peixe.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Quintas das Promoções em Peixes</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn">Confira Já</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../../assets/relampago.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Sexta De Promoções Relâmpago</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn">Confira Já</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->





<!-- <div *ngIf="afAuth.user | async as user; else showLogin">
    <h1>Hello {{ user.displayName }}!</h1>
    <button (click)="logout()">Logout</button>
  </div>
  <ng-template #showLogin>
    <p>Please login.</p>
    <button (click)="login()">Login with Google</button><br>    
    <button (click)="registrar()">registrar</button>
  </ng-template> -->