.card-img-top{
    height: 200px;
    transition-duration: 0.5s;
}
img.card-img-top:hover {
    transform: scale(1.05, 1.05);
    box-shadow: inset 0 0 0 10000px rgb(3, 7, 15);
    transition-duration: 0.5s;
}
.img_card{
    background-color: #d22f2d;
    box-shadow: inset 0 0 0 10000px rgb(3, 7, 15);
}

header{
    background-image: url("../../assets/supermercado.jpg");
    color:white;
    box-shadow: inset 0 0 0 10000px rgba(25, 30, 34, 0.527);
    transition-duration: 1s;
}
header:hover {
    box-shadow: inset 0 0 0 10000px rgba(33, 36, 41, 0.123);
    transition-duration: 1s;
}

.text_confir{
    margin-bottom: 50px;
    background-color: rgba(219, 206, 206, 0.356)
}

h1,p{
    z-index: 100;
}


.container{
    margin-top:75px;
}
.btn{
    background-color: #d22f2d;
    color: white;
}

